/* SPDX-License Identifier: AGPL-3.0-or-later
 *
 * Copyright (C) 2021 EVBox Intelligence B.V.
 * Copyright (C) 2021 Olliver Schinagl <oliver@schinagl.nl>
 * Copyright (C) 2021 Pegah Bahramiani <pegah.bahramiani@ev-box.com>
 *
 */

html {
	font-size: 62.5%;
}

@font-face {
	font-family: "Dosis";
	font-style: normal;
	font-variant-numeric: slashed-zero tabular-nums;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/dosis/v19/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}

body {
	background-color: #2b2a26;
	color: silver;
	font-family: "Dosis";
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	font-size: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: inherit;
	margin: inherit;
}

.banner {
	clear: both;
	height: 4.0rem;
	margin: 0.5rem;
}

.banner-logo {
	float: left;
	height: 100%;
}

.banner-img {
	height: 100%;
	object-fit: contain;
}

.banner-heading {
	float: left;
	font-size: 3.0rem;
}

.footer {
	clear: both;
	float: right;
	font-size: 1.0rem;
	margin: 0.5rem;
}

.pipeline-grid {
	display: grid;
	gap: 0.5rem;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, 15.6rem);
	grid-template-rows: repeat(auto-fit, 15.6rem);
	margin: 0.5rem;
	place-content: start;
	place-items: stretch;
}

.grid-tile {
	align-content: center;
	border-radius: 3.0rem;
	color: #2b2a26;
	display: grid;
	height: 15.6rem; /* HACK, the height should be stretched to grid-template-rows See issue #2 */
	text-align: center;
}

.heartbeat-tile {
	background-color: silver;
	font-size: 3.0rem;
	font-weight: bold;
	grid-column: span 2;
}

.heartbeat-datetime {
}

.pipeline-tile {
}

.pipeline-title {
	font-size: 1.6rem;
	font-weight: bold;
}

.pipeline-branch {
	font-size: 1.6rem;
	font-weight: bold;
}

.pipeline-status {
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: capitalize;
}

.pipeline-finished_at,
.pipeline-queued,
.pipeline-runtime {
	font-size: 1.4rem;
}

.pipeline-coverage {
	font-size: 1.6rem;
	font-weight: bold;
}

.status_created,
.status_pending,
.status_waiting,
.status_waiting-for-resource {
	background-color: #e7c553;
}

.status_preparing {
	background-color: #606060;
}

.status_info,
.status_running {
	background-color: #4cafec;
}

.status_success {
	background-color: #55c27c;
}

.status_success-with-warnings {
	background-color: #de732b;
}

.status_canceled,
.status_disabled,
.status_manual,
.status_scheduled,
.status_skipped {
	background-color: #909090;
}

.status_failed {
	background-color: #fa4853;
}

.status_failed-with-warnings {
	background-color: #dc2e2d;
}

.coverage_appalling {
	background-image: linear-gradient(#ffffff00 47.5%, #ff2d00ff 52.5%);
}
.coverage_very_poor {
	background-image: linear-gradient(#ffffff00 47.5%, #ff5a00ff 52.5%);
}
.coverage_poor {
	background-image: linear-gradient(#ffffff00 47.5%, #ff8800ff 52.5%);
}
.coverage_mediocre {
	background-image: linear-gradient(#ffffff00 47.5%, #ffb600ff 52.5%);
}
.coverage_good {
	background-image: linear-gradient(#ffffff00 47.5%, #ffff00ff 52.5%);
}
.coverage_very_good {
	background-image: linear-gradient(#ffffff00 47.5%, #b6ff00ff 52.5%);
}
.coverage_excellent {
	background-image: linear-gradient(#ffffff00 47.5%, #88ff00ff 52.5%);
}
.coverage_outstanding {
	background-image: linear-gradient(#ffffff00 47.5%, #5a00ffff 52.5%);
}
